<label for="">Server name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
>
<hr> -->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<hr>
<p>{{ serverName }}</p>
<hr>
<div [innerText]="serverCreationStatus"></div>
<hr>
<button 
    type="button"
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
> Add server</button>
<hr>
<label for="">User name</label>
<input 
    type="text"
    class="form-control"
    [(ngModel)]="userName">
<hr>
<button 
    type="button"
    class="btn btn-primary"
    [disabled]="userName === ''"
    (click)= "userName = ''"
> Add a name </button>
<hr>
<p>Hello {{ userName}} !</p>
<app-server></app-server>
