<label for="">Server name</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<hr>
<button 
    type="button"
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
> Add server</button>
<hr>
<p *ngIf="test; else noTest">hello test</p>
<ng-template #noTest>
    <p>Test was created</p>
</ng-template>
<hr>
<p *ngIf="serverCreated">server was created, server name is {{ serverName }}</p>
<hr>
<div [innerText]="serverCreationStatus"></div>
<hr>
<app-server *ngFor="let server of servers"></app-server>

