<hr>
<button
    (click)="onToogleDetail()"
>Display Details</button>
<p *ngIf="isReadDetail">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Similique accusantium eius iure, repellendus magni nam qui 
    necessitatibus nulla corrupti. Dolore quod nulla vitae?
    Commodi asperiores voluptatem minus aut quam quaerat!
</p>
<hr>
<div *ngFor="let log of logs; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': i >= 4}"
>
    <p>{{ log }}</p>
</div>
